<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<footer th:fragment="footer">

    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="my-6">
        <footer class="text-white text-center text-lg-start" style="background-color: #23242a;">
            <!-- Grid container -->
            <div class="container p-4">
                <!--Grid row-->
                <div class="row mt-4">
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                        <h5 style="color:white;" class="text-uppercase mb-4">Về Chúng Tôi</h5>
                        <div>
                            <h6><a style="text-decoration: none; color: white" href="/about">Giới thiệu</a></h6>
                            <br/>
                            <h6><a style="text-decoration: none; color: white" href="/contact">Liên hệ</a></h6>
                            <br/>
                            <h6><a style="text-decoration: none; color: white" href="">Cách đặt chổ</a></h6>
                            <br/>
                            <h6><a style="text-decoration: none; color: white"
                                   href="https://www.facebook.com/profile.php?id=100092738989085">Trợ giúp</a></h6>

                        </div>

                        <div class="mt-4">
                            <!-- Facebook -->
                            <a href="https://www.facebook.com/profile.php?id=100092738989085" type="button"
                               class="btn btn-floating btn-outline-light btn-lg"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a href="https://github.com/nghbang1909" type="button"
                               class="btn btn-floating btn-outline-light btn-lg"><i
                                    class="fa-brands fa-github"></i></a>
                            <!-- Google + -->
                            <a href="/home" type="button" class="btn btn-floating btn-outline-light btn-lg"><i
                                    class="fab fa-google-plus-g"></i></a>

                            <img src="https://play-lh.googleusercontent.com/jjp2E1WZrnx_l7rTI9zebazVt2wk_7OkZKcqwFE5k9_87QcJce8_zriAurvCbYQSqXJ7"
                                 width="59" height="49">
                            <img src="https://developers.momo.vn/v3/vi/assets/images/square-8c08a00f550e40a2efafea4a005b1232.png"
                                 width="59" height="49">
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                        <h5 style="color:white;" class="text-uppercase mb-4 pb-1">Thông tin nhà xe</h5>

                        <div class="form-outline form-white mb-4">

                            <div class="form-notch">
                                <div class="form-notch-leading" style="width: 9px;"></div>
                                <div class="form-notch-middle" style="width: 48.8px;"></div>
                                <div class="form-notch-trailing"></div>
                            </div>
                        </div>

                        <ul class="fa-ul" style="margin-left: 1.65em;">
                            <li class="mb-3">
                                <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Khu công nghệ cao Quận 9, Hutech, Thủ Đức</span>
                            </li>
                            <li class="mb-3">
                                <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">nghbang1909@gmail.com</span>
                            </li>
                            <li class="mb-3">
                                <span class="fa-li"><i class="fas fa-phone"></i></span><span
                                    class="ms-2">+84 345712873</span>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                        <h5 style="color:white;" class="text-uppercase mb-4">Giờ mở bán vé</h5>

                        <table class="table text-center text-white">
                            <tbody class="font-weight-normal">
                            <tr>
                                <td>Thứ 2 - Thứ 5:</td>
                                <td>3am - 9pm</td>
                            </tr>
                            <tr>
                                <td>Thứ 6 - Thứ 7:</td>
                                <td>3am - 10am</td>
                            </tr>
                            <tr>
                                <td>Chủ nhật:</td>
                                <td>2am - 9pm</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2020 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>
            <!-- Copyright -->
        </footer>

    </div>
    <!-- End of .container -->

</footer>
</body>
</html>