<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div th:fragment="header">
    <header id="header">
        <div class="header-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-6 col-6 header-top-left">
                        <ul>
                            <li sec:authorize="isAuthenticated()">
                                <a class="btn btn-outline-danger" style="color: white;" href="/logout">Đăng xuất</a>
                                <a style="color: snow" th:inline="text">User: <span style="font-weight: bold"
                                                                                    th:remove="tag"
                                                                                    sec:authentication="name"></span></a>
                            </li>
                            <li sec:authorize="!isAuthenticated()">
                                <a class="btn btn-outline-primary" style="color: white;" href="/login">Đăng nhập</a>
                                <a style="color: snow" th:inline="text">Xin chào, người dùng ẩn danh</span>!</a>
                            </li>
                            <li>
                            </li>

                        </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a th:href="@{/home}"><img src="img/logo.png" alt="" title=""/></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a th:href="@{/home}">Trang chủ</a></li>
                    <li><a th:href="@{/about}">Về chúng tôi</a></li>
                    <li><a th:href="@{/users/tickets/basket}">Hóa đơn</a></li>
                    <li><a th:href="@{/users/tickets/manage-receipts}">Vé Của Tôi</a></li>
                    <li><a th:href="@{'/users/manage-account/edit/' + ${#authentication.name}}">Chỉnh sửa tài khoản</a>
                    </li>
                    <li><a th:href="@{/home/instruct}">Cách đặt vé</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </div>
</header>
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div
                class="row fullscreen align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 banner-left">
                <h6 class="text-white">Đồng hành cùng bạn trên mọi chuyến đi</h6>
                <h1 class="text-white">Travelista</h1>
                <p class="text-white">Đặt vé chưa bao giờ dễ đến thế. Chúng tôi cung cấp dịch vụ khiến cho bạn thoải mái
                    nhất trong từng chuyến đi.</p>
                <a href="/home/book-now" class="primary-btn text-uppercase">Đặt Vé Ngay</a>
            </div>
            <div class="col-lg-4 col-md-6 banner-right">
                <div class="tab-content" id="myTabContent">
                    <div style="margin-top: 70px;" class="tab-pane fade show active" id="flight" role="tabpanel"
                         aria-labelledby="flight-tab">
                        <div th:if="${errorMessage}" class="alert alert-danger text-center">
                            [[${errorMessage}]]
                        </div>
                        <div th:if="${successMessage}" class="alert alert-success text-center">
                            [[${successMessage}]]
                        </div>
                        <div th:if="${warningMessage}" class="alert alert-warning text-center">
                            [[${successMessage}]]
                        </div>
                        <form class="form-wrap" th:action="@{/home/find}" method="post" id="tripForm">
                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">Loại vé:</label>
                                <div class="col-sm-9">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="round-trip" id="one-way"
                                               value="false" checked>
                                        <label class="form-check-label" for="one-way">Một chiều</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="round-trip" id="round-trip"
                                               value="true" >
                                        <label class="form-check-label" for="round-trip">Khứ hồi</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">Điểm đi:</label>
                                <div class="col-sm-9">
                                    <select class="form-control" required id="startCity" name="startCity"
                                            style="height: 45px;">
                                        <option value=""></option>
                                        <option th:each="city : ${cities}" th:value="${city.id}"
                                                th:text="${city.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">Điểm đến:</label>
                                <div class="col-sm-9">
                                    <select class="form-control" required id="endCity" name="endCity"
                                            style="height: 45px;">
                                        <option value=""></option>
                                        <option th:each="city : ${cities}" th:value="${city.id}"
                                                th:text="${city.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">Ngày đi :</label>
                                <div class="col-sm-9">
                                    <input type="date" id="startTime" class="form-control" required name="startTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-3">Ngày về:</label>
                                <div class="col-sm-9">
                                    <input disabled type="date" class="form-control" style="display: none;" id="endTime" name="endTime">
                                </div>
                            </div>
                            <button type="submit" class="primary-btn text-uppercase">Tìm chuyến xe</button>
                        </form>
                        <script>
                            // Lấy ngày hiện tại
                            var now = new Date();
                            var dateString02 = now.toISOString().slice(0,10);

                            // Chuyển đổi thành chuỗi định dạng yyyy-mm-dd để có thể sử dụng cho input date
                            // Đặt giá trị của input "start-time" là thời gian hiện tại
                            document.getElementById('startTime').setAttribute('min', dateString02);
                            document.getElementById("startTime").value = dateString02;

                            const roundTrip = document.querySelector('#round-trip');
                            const oneWay = document.querySelector('#one-way');
                            const endTimeInput = document.querySelector('#endTime');

                            function updateEndTime() {
                                const startTimeValue = document.getElementById("startTime").value;
                                document.getElementById('endTime').setAttribute('min', startTimeValue);
                                document.getElementById("endTime").value = startTimeValue;
                            }


                            roundTrip.addEventListener('change', () => {
                                if (roundTrip.checked) {
                                    endTimeInput.style.display = 'block';
                                    endTimeInput.removeAttribute('disabled');
                                    updateEndTime();
                                } else {
                                    endTimeInput.style.display = 'none';
                                    endTimeInput.setAttribute('disabled', 'disabled');
                                }
                            });

                            oneWay.addEventListener('change', () => {
                                if (oneWay.checked) {
                                    endTimeInput.style.display = 'none';
                                    endTimeInput.setAttribute('disabled', 'disabled');
                                } else {
                                    endTimeInput.style.display = 'block';
                                    endTimeInput.removeAttribute('disabled');
                                    updateEndTime();
                                }
                            });
                            const startTimeInput = document.querySelector('#startTime');

                            startTimeInput.onchange = () => {
                                updateEndTime();
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</body>
</html>