<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tbody th:fragment="listBills" id="tbody">
<tr th:if="${notFound}">
    <td colspan='11' class='text-center'>Không tìm thấy hóa đơn.</td>
</tr>
<tr th:unless="${notFound}" th:each="booking : ${bookings}">
    <td th:text="${booking.bookingDetails.get(0).id.ticketCode}"></td>
    <td th:text="${booking.trip.route.name}"></td>
    <td th:text="${#temporals.format(booking.bookingDate, 'dd/MM/yyyy')}"></td>
    <td th:text="${booking.trip.startTime}"></td>
    <td th:text="${booking.trip.vehicle.name}"></td>
    <td th:text="${booking.trip.vehicle.licensePlates}"></td>
    <td>
                                <span th:each="sr, iterStat : ${booking.seatReservations}">
                                <span th:text="${sr.seat.name}"></span>
                                <span th:if="${!iterStat.last}">, </span>
                                </span>
    </td>
    <td th:text="${booking.seatReservations.size()}"></td>
    <td>[[${#numbers.formatDecimal(booking.bookingDetails.get(0).totalPrice, 0, 'COMMA', 0, 'POINT') + 'đ'}]]</td>
    <td>
        <a th:href="@{'/users/tickets/delete/' + ${booking.id}}">Hủy |</a>
        <a th:href="@{'/users/payment-basket?bookingId=' + ${booking.id} + '&totalPrice=' + ${booking.bookingDetails.get(0).totalPrice}}">Thanh
            toán</a>
    </td>
</tr>
</tbody>
</body>
</html>