<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>

</head>
<body>
<div th:fragment="subheader">
    <header id="header">
        <div class="header-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-6 col-6 header-top-left">
                        <ul>
                            <li sec:authorize="isAuthenticated()">
                                <a class="btn btn-outline-danger" style="color: white;" href="/logout">Đăng xuất</a>
                                <a style="color: snow" th:inline="text">User: <span style="font-weight: bold"
                                                                                    th:remove="tag"
                                                                                    sec:authentication="name"></span></a>
                            </li>
                            <li sec:authorize="!isAuthenticated()">
                                <a class="btn btn-outline-primary" style="color: white;" href="/login">Đăng nhập</a>
                                <a style="color: snow" th:inline="text">Xin chào, người dùng ẩn danh</span>!</a>
                            </li>
                            <li>
                            </li>

                        </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a th:href="@{/home}"><img src="/img/logo.png" alt="" title=""/></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a th:href="@{/home}">Trang chủ</a></li>
                    <li><a th:href="@{/about}">Về chúng tôi</a></li>
                    <li><a th:href="@{/users/tickets/basket}">Hóa đơn</a></li>
                    <li><a th:href="@{/users/tickets/manage-receipts}">Vé Của Tôi</a></li>
                    <li><a th:href="@{/home/instruct}">Cách đặt vé</a></li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->


<!-- start banner Area -->
<section class="about-banner relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white" th:text="${header}">

                </h1>
                <p class="text-white link-nav"><a th:href="@{/home}">Trang chủ </a> <span> ➨</span> <a
                        th:text="${currentPage}"></a></p>
            </div>
        </div>
    </div>
</section>
</div>
</body>

</html>