<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>

</head>
<body>
<header id="header" th:fragment="subheader">
    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 col-6 header-top-left">
                    <ul>
                        <li>
                            <a th:href="@{/logout}" style="color: snow" th:inline="text">Login/Logout</a>
                        </li>
                        <li><a style="color: snow" th:inline="text">Hello <span style="font-weight: bold" th:remove="tag"
                                                                                sec:authentication="name"></span>!</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a th:href="@{/home}"><img src="/img/logo.png" alt="" title=""/></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a th:href="@{/home}">Trang chủ</a></li>
                    <li><a th:href="@{/about}">Giới thệu</a></li>
                    <li><a th:href="@{/contact}">Liên hệ</a></li>
                    <li><a th:href="@{/users/tickets/basket}">Hóa đơn</a></li>
                    <li><a th:href="@{/users/tickets/manage-receipts}">Vé Của Tôi</a></li>
                    <li class="menu-has-children"><a href="">Hóa đơn</a>
                        <ul>
                            <li><a th:href="@{/users/tickets/manage-receipts}">Xem vé đã đặt</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->


<!-- start banner Area -->
<section class="about-banner relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white" th:text="${header}">

                </h1>
                <p class="text-white link-nav"><a th:href="@{/home}">Trang chủ </a>  <span> ➨</span>  <a th:text="${currentPage}"></a> </p>
            </div>
        </div>
    </div>
</section>
</body>
</html>