<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/sub_layout">
<head>
  <meta charset="UTF-8">
  <title>Điền Email</title>
  <link rel="shortcut icon" th:href="@{/img/favicon.svg}">
</head>
<body>
<div layout:fragment="content">
  <form th:action="@{/home/save-email}" method="post" th:object="${user}"
        style="max-width: 500px; margin: 50px auto;">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{fullname}">
    <input type="hidden" th:field="*{email}">
    <input type="hidden" th:value="${gbUserName}" name="gbUserName" id="gbUserName">

    <div class="border border-secondary rounded p-3">
      <div th:if="${errorMessage}" class="alert alert-danger text-center">
        <p th:text="${errorMessage}"></p>
      </div>
      <p class="text-center" th:text="${title}"></p>
      <p class="text-center"><span class="text-danger">Lưu ý</span> chúng tôi sẽ gửi vé cho bạn qua email này.</p>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">E-mail:</label>
        <div class="col-sm-8">
          <input type="email" th:field="*{address}" class="form-control" required minlength="8" maxlength="45">
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary m-2">Lưu</button>
        <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Hủy</button>
      </div>
    </div>
<script>
        function cancelForm() {
            window.location = "[[@{/home}]]";
        }

    </script>
  </form>
</div>
</body>
</html>
