<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/sub_layout">
<head>
    <meta charset="UTF-8">
    <title>Find Trip</title>
    <style>
        .seat-map-container {
            max-width: 100%;
            overflow-x: auto;
        }

        tr:hover {
            background-color: #f8f8f8;
        }

        .seat-map {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
            gap: 5px;
        }

        .seat-map img {
            max-width: 100px;
            max-height: 100px;
        }

        .seat-item {
            display: flex;
            align-items: center;
        }

        .seat-item label {
            display: block;
            background-color: #ECECEC;
            padding: 5px;
            text-align: center;
            cursor: pointer;
            flex: 1;
        }

        .seat-item input[type="checkbox"] {
            display: none;
        }

        .seat-item input[type="checkbox"]:checked + label {
            background-color: #6FCF97;
            color: white;
        }

        input[type="radio"] {
            transform: scale(2); /* Tăng kích thước 1.2 lần */
            margin-right: 6px; /* Tạo khoảng cách giữa nút radio và văn bản */
        }

        input[type="radio"]:checked + label {
            background-color: #6FCF97;
            color: white;
            font-weight: bold;
        }

    </style>
    <link rel="shortcut icon" th:href="@{/img/favicon.svg}">
    <script>
        function toggleCheckbox(element) {
            if (element.disabled) {
                return false; // Không cho phép thay đổi trạng thái checkbox nếu đã vô hiệu hóa
            }
            element.checked = !element.checked;
            element.nextElementSibling.classList.toggle("checked");

        }

        function cancelForm() {
            window.location = "/home";
        }
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid text-center">
        <hr/>
        <div>
            <h2><span th:text="'Chuyến ' + ${startCity}"></span> ➝ <span th:text="${endCity}"></span></h2>
        </div>
        <div>
            <h3><span th:text="'Ngày '+${#temporals.format(startTime, 'dd/MM/yyyy')}"></span></h3>
        </div>
        <div>
            <div class="seat-map-container">
                <div style="width: 100%;float: left;margin:40px 0px 20px 0px;justify-content: space-between;"
                     class="d-flex">
                    <div class="d-flex">
                        <label th:for="sortTime"
                               style="color:black;font-size: 20px; margin-top: 6px;margin-right: 20px;"
                        >Chọn khung giờ đi: </label>
                        <select style="border-radius: 20px;
    background-color: rgba(99,114,128,.1);height:35px;width:160px;text-align: center" id="sortTime">
                            <option></option>
                            <option value="time03_10">03:00 -> 10:00</option>
                            <option value="time10_16">10:00 -> 16:00</option>
                            <option value="time16_23">16:00 -> 23:00</option>
                        </select>
                    </div>
                    <div class="d-flex" style="margin-right: 30px;">
                        <label th:for="sortPrice"
                               style="color:black;font-size: 20px; margin-top: 6px;margin-right: 20px;"
                        >Xếp giá vé: </label>
                        <select style="border-radius: 20px;
    background-color: rgba(99,114,128,.1);height:35px;width:170px;text-align: center" id="sortPrice">
                            <option></option>
                            <option value="priceDesc">Thấp -> Cao</option>
                            <option value="priceAsc">Cao -> Thấp</option>
                        </select>
                    </div>
                    <div class="d-flex" style="margin-right: 30px;">
                        <label th:for="vehicle" style="color:black;font-size: 20px; margin-top: 6px;margin-right: 20px;"
                        >Chọn xe: </label>
                        <select style="border-radius: 20px;
    background-color: rgba(99,114,128,.1);height:35px;width:170px;text-align: center" id="vehicle">
                            <option></option>
                            <option value="sixt">Xe 16 chổ</option>
                            <option value="fourtf">Xe 45 chổ</option>
                            <option value="lms">Xe Limousine</option>
                        </select>
                    </div>
                    <div>
                        <label th:for="sample"
                               style="background-color: #b93333;color:white;padding: 6px;">Ghế</label>
                        <label th:for="sample" style="color:black;font-size: 20px;"
                        >: Đã được đặt trước</label>
                    </div>
                </div>
                <form th:action="@{/users/booking-trip}" method="post">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th style="width: 10%">Thời gian</th>
                            <th style="width: 10%">Loại xe</th>
                            <th style="width: 8%">Giá vé</th>
                            <th style="width: 6%">Trống</th>
                            <th style="width: 6%">Chọn</th>
                            <th style="width: 26%">Chọn ghế</th>
                            <th style="width: 30%">Sơ đồ ghế</th>
                            <th style="width: 4%"></th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        <tr th:if="${isListEmpty}">
                            <td colspan='11' class='text-center'>Không tìm thấy chuyến nào hôm nay.</td>
                        </tr>

                        <th:block th:unless="${isListEmpty}" th:each="trip: ${foundTrips}">
                            <tr>
                                <td th:text="${trip.startTime} + ' ➝ ' + ${trip.startTime.plusHours(trip.route.timeTrip)}"></td>
                                <td>[[${trip.vehicle.name}]]</td>
                                <td>[[${#numbers.formatDecimal(trip.price, 0, 'COMMA', 0, 'POINT') + 'đ'}]]</td>
                                <td th:text="${availableSeatsMap.get(trip.id)}"></td>
                                <td>
                                    <label>
                                        <input type="radio" name="selectedTrip" th:value="${trip.id}">
                                        <span class="radio-label">Chọn</span>
                                    </label>
                                </td>
                                <td>
                                    <div class="seat-map">
                                        <th:block th:each="seat : ${trip.getVehicle().getSeats()}">
                                            <div class="seat-item">
                                                <input type="checkbox" name="selectedSeats" th:value="${seat.getId()}"
                                                       disabled th:id="'seatReserved-' + ${seat.getId()}"
                                                       th:checked="${listReservedSeat.get(trip.id).contains(seat)}"
                                                       th:disabled="${listReservedSeat.get(trip.id).contains(seat)}">
                                                <label th:text="${seat.getName()}" th:for="'seat-' + ${seat.getId()}"
                                                       th:style="${listReservedSeat.get(trip.id).contains(seat)} ? 'background-color: #b93333;color:white;' : ''"
                                                       onclick="toggleCheckbox(this.previousElementSibling)"></label>
                                            </div>
                                        </th:block>
                                    </div>
                                </td>
                                <td>
                                    <img alt="seat-map" th:src="@{${trip.vehicle.routeImagePath}}">
                                </td>
                                <td>
                                    <input type="hidden" id="selectedTripId" name="selectedTripId">
                                    <input type="hidden" id="inputSelectedSeats" name="inputSelectedSeats">
                                    <input type="hidden" name="startTime" id="startTime" th:value="${startTime}">
                                    <input type="hidden" id="endTime" name="endTime" th:value="${endTime}">
                                    <input type="hidden" id="startCity" name="startCity" th:value="${startCity}">
                                    <input type="hidden" name="endCity" id="endCity" th:value="${endCity}">
                                    <input type="hidden" name="bookedId" th:value="${bookedId}">
                                    <button class="btn btn-outline-primary book-button"
                                            th:id="${'bookButton_' + trip.id}">Tiếp tục
                                    </button>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/js/ajax/findTrip.js}"></script>
    <script th:src="@{/js/ajax/home.js}"></script>
</div>
</body>
</html>
