<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/sub_layout">
<head>
    <meta charset="UTF-8">
    <title>Find Trip</title>
    <style>
        .seat-map-container {
            max-width: 100%;
            overflow-x: auto;
        }
        .seat-map {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
            gap: 5px;
        }
        .seat-map img {
            max-width: 100px;
            max-height: 100px;
        }
        .seat-item {
            display: flex;
            align-items: center;
        }
        .seat-item label {
            display: block;
            background-color: #ECECEC;
            padding: 5px;
            text-align: center;
            cursor: pointer;
            flex: 1;
        }
        .seat-item input[type="checkbox"] {
            display: none;
        }
        .seat-item input[type="checkbox"]:checked + label {
            background-color: #6FCF97;
            color: white;
        }
    </style>
    <script>
        function toggleCheckbox(element) {
            element.checked = !element.checked;
            element.nextElementSibling.classList.toggle("checked");
        }
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid text-center">
        <hr/>
        <div>
            <h2><span th:text="${startCity}"></span> ➝ <span th:text="${endCity}"></span></h2>
        </div>
        <div>
            <h3><span th:text="${#temporals.format(startTime, 'dd/MM/yyyy')}"></span></h3>
        </div>
        <div>
            <div class="seat-map-container">
                <form th:action="@{/users/booking-trip}" method="post">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th style="width: 10%">Thời gian</th>
                        <th style="width: 10%">Loại xe</th>
                        <th style="width: 10%">Giá vé</th>
                        <th style="width: 8%">Trống</th>
                        <th style="width: 6%">Chọn</th>
                        <th style="width: 26%">Chọn ghế</th>
                        <th style="width: 30%">Sơ đồ ghế</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    <th:block th:each="trip: ${foundTrips}">
                        <tr>
                            <td th:text="${trip.startTime} + ' ➝ ' + ${trip.startTime.plusHours(trip.route.time_trip)}"></td>
                            <td>[[${trip.vehicle.name}]]</td>
                            <td>[[${#numbers.formatDecimal(trip.price, 0, 'COMMA', 0, 'POINT') + 'đ'}]]</td>
                            <td th:text="${availableSeatsMap.get(trip.id)}"></td>
                            <td>
                                <input required type="radio" name="selectedTrip" th:value="${trip.id}">
                                Chọn
                            </td>
                            <td>
                                <div class="seat-map">
                                    <th:block th:each="seat : ${loadAvailableSeatsMap.get(trip.id)}">
                                        <div class="seat-item">
                                            <input type="checkbox" name="selectedSeats" th:value="${seat.getId()}" id="seat-${seat.getId()}">
                                            <label th:text="${seat.getName()}" th:for="'seat-' + ${seat.getId()}" onclick="toggleCheckbox(this.previousElementSibling)"></label>
                                        </div>
                                    </th:block>
                                </div>
                            </td>
                            <td>
                                <img alt="seat-map" th:src="@{${trip.vehicle.routeImagePath}}">
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                    <input type="hidden" id="selectedTripId" name="selectedTripId">
                    <input type="hidden" id="inputSelectedSeats" name="inputSelectedSeats">
                    <input type="hidden" name="startTime" id="startTime" th:value="${startTime}">
                    <input type="hidden" name="endTime" th:value="${endTime}">
                    <input type="hidden" name="startCity" th:value="${startCity}">
                    <input type="hidden" name="endCity" th:value="${endCity}">
                    <input type="hidden" name="bookedId" th:value="${bookedId}">
                    <button id="bookButton" class="btn btn-primary" style="margin-top: 10px;margin-bottom: 10px;">Tiếp tục</button>
                </form>
            </div>
        </div>
        <script>
            document.getElementById('bookButton').disabled = true;
            // Ẩn các cột "Chọn ghế" và "Sơ đồ ghế" ban đầu
            document.querySelectorAll(' th:nth-child(6), th:nth-child(7),td:nth-child(6), td:nth-child(7)').forEach(function(element) {
                element.style.display = 'none';
            });

            // Lắng nghe sự kiện khi người dùng chọn radio button "selectedTrip"
            document.querySelectorAll('input[name="selectedTrip"]').forEach(function(radio) {
                radio.addEventListener('click', function() {
                    // Ẩn các cột "Chọn ghế" và "Sơ đồ ghế" của các hàng khác
                    document.querySelectorAll('td:nth-child(6), td:nth-child(7)').forEach(function(element) {
                        // Xóa tất cả các checkbox đã chọn
                        document.querySelectorAll('input[name="selectedSeats"]:checked').forEach(function(checkbox) {
                            checkbox.checked = false;
                            checkbox.nextElementSibling.classList.remove('checked');
                        });
                        element.style.display = 'none';

                    });
                    // Hiển thị các cột "Chọn ghế" và "Sơ đồ ghế" của hàng tương ứng
                    this.closest('tr').querySelectorAll('td:nth-child(6), td:nth-child(7)').forEach(function(element) {
                        element.style.display = '';
                        document.getElementById('bookButton').disabled = false;
                    });
                    document.querySelectorAll(' th:nth-child(6), th:nth-child(7)').forEach(function(element) {
                        element.style.display = '';
                        document.getElementById('bookButton').disabled = false;
                    });
                });
            });

            document.getElementById('bookButton').addEventListener('click', function() {
                // Lấy giá trị của radio button "selectedTrip"
                var selectedTrip = document.querySelector('input[name="selectedTrip"]:checked');
                if (selectedTrip) {
                    // Lấy giá trị của ghế đã chọn
                    var selectedSeats = [];
                    var selectedSeatsElements = selectedTrip.closest('tr').querySelectorAll('input[name="selectedSeats"]:checked');
                    selectedSeatsElements.forEach(function(seatElement) {
                        selectedSeats.push(seatElement.value);
                    });

                    if (selectedSeats.length > 0) {
                        if (selectedSeats.length >5) {
                            alert('Chỉ đặt tối đa 5 vé cho 1 lần thanh toán!');
                            event.preventDefault();
                            return;
                        }

                        //Đặt vé

                        document.getElementById('selectedTripId').value = selectedTrip.value;
                        document.getElementById('inputSelectedSeats').value = selectedSeats.join(',');
                        document.getElementById('bookingForm').submit();
                        // Xóa bỏ các giá trị đã chọn trong mảng selectedSeats
                        selectedSeats.length = 0;
                    } else {
                        alert('Vui lòng chọn ít nhất một ghế.');
                        event.preventDefault();
                        return;
                    }
                } else {
                    alert('Vui lòng chọn chuyến đi.');
                    event.preventDefault();
                    return;
                }
            });
        </script>
    </div>
</div>
</body>
</html>
