
<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layouts/user_layout">
<head>
	<meta charset="UTF-8">
	<title>Trang Chủ</title>
	<!-- Start of Async Drift Code -->
	<!-- Start of Async Drift Code -->
	<!--	<script>
            "use strict";
            !function () {
                var t = window.driftt = window.drift = window.driftt || [];
                if (!t.init) {
                    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
                    t.invoked = !0, t.methods = ["identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on"],
                            t.factory = function (e) {
                                return function () {
                                    var n = Array.prototype.slice.call(arguments);
                                    return n.unshift(e), t.push(n), t;
                                };
                            }, t.methods.forEach(function (e) {
                        t[e] = t.factory(e);
                    }), t.load = function (t) {
                        var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
                        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                        var i = document.getElementsByTagName("script")[0];
                        i.parentNode.insertBefore(o, i);
                    };
                }
            }();
            drift.SNIPPET_VERSION = '0.3.1';
            drift.load('tk4mtwtt34wt');
        </script>-->
	<!-- End of Async Drift Code -->
	<link rel="shortcut icon" th:href="@{/img/favicon.svg}">
</head>
<body>
	<div layout:fragment="content">
		<section class="popular-destination-area section-gap">

			<!-- Messenger Chat plugin Code -->
			<div id="fb-root"></div>

			<!-- Your Chat plugin code -->
			<div id="fb-customer-chat" class="fb-customerchat">
			</div>

			<script>
				var chatbox = document.getElementById('fb-customer-chat');
				chatbox.setAttribute("page_id", "110577855381273");
				chatbox.setAttribute("attribution", "biz_inbox");
			</script>

			<!-- Your SDK code -->
			<script>
				window.fbAsyncInit = function () {
					FB.init({
						xfbml: true,
						version: 'v17.0'
					});
				};

				(function (d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s);
					js.id = id;
					js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			</script>

			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-70 col-lg-8">
						<div class="title text-center">
							<h1 class="mb-10">Các điểm đến phổ biến</h1>
							<p>
								Gợi ý cho bạn địa điểm du lịch được ưa thích nhất.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4" th:each="city:${topDestinationCities}">
						<div class="single-destination relative">
							<div class="thumb relative">
								<div class="overlay overlay-bg"></div>
								<img alt="hình thành phố" style="width: 700px;height: 350px;" class="img-fluid"
									 th:src="@{${city.cityImagePath}}">
							</div>
							<div class="desc">
								<a th:href="'/home/find-destination-city/'+${city.id}" class="price-btn">Đặt vé ngay</a>
								<h4 style="font-size: 40px" th:text="${city.name}"></h4>
								<p></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End popular-destination Area -->


		<!-- Start price Area -->
		<section class="price-area section-gap">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-70 col-lg-8">
						<div class="title text-center">
							<h1 class="mb-10">Chúng tôi luôn cung cấp chuyến đi với giá cả hợp lý.</h1>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="container-fluid">
						<div class="single-price">
							<h4>CHUYẾN ĐI PHỔ BIẾN</h4>
							<table class='table mb-0 price-list' id="table1">
								<thead>
								<th>Điểm đi</th>
								<th>Điểm đến</th>
								<th>Giá tiền</th>

								</thead>
								<tbody id="tbody">
								<th:block th:each="trip: ${topTripList}">
									<tr>
										<td>[[${trip.route.startCity.name}]]</td>
										<td>[[${trip.route.endCity.name}]]</td>
										<td><a th:href="@{'/booking-popular-trip/'+${trip.id} }" class="price-btn"
											   th:text="${#numbers.formatDecimal(trip.price, 0, 'COMMA', 0, 'POINT') + 'đ'}"></a>
										</td>
									</tr>
								</th:block>
								</tbody>
							</table>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- End price Area -->
		<section class="about-info-area section-gap">
			<div style="margin-right: 50px; margin-left: 50px">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4206640295474!2d106.78252777412524!3d10.85557478929801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e7ea103df%3A0xb6cf10bb7d719327!2sThu%20Duc%20Campus%20Hutech%20khu%20E!5e0!3m2!1svi!2s!4v1685077712663!5m2!1svi!2s"
						width="100%" height="445" style="border:0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>

		</section>
		<section class="contact-page-area section-gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 d-flex flex-column address-wrap">
						<div class="single-contact-address d-flex flex-row">
							<div class="icon" style="margin: 0 20px;">
								<i style="font-size: 30px;" class="fa-solid fa-house"></i>
							</div>
							<div class="contact-details">
								<h5>Hutech, Khu CNC Quận 9</h5>
								<p>
									XL Hà Nội, Phường Tân Phú, Thủ Đức.
								</p>
							</div>
						</div>
						<div class="single-contact-address d-flex flex-row">
							<div class="icon" style="margin: 0 20px;">
								<i style="font-size: 30px;" class="fa-solid fa-phone"></i>
							</div>
							<div class="contact-details">
								<h5>+84 345712873</h5>
								<p>Thứ 2 đến Chủ nhật từ 7am đến 9am</p>
							</div>
						</div>
						<div class="single-contact-address d-flex flex-row">
							<div class="icon" style="margin: 0 20px;">
								<i style="font-size: 30px;" class="fa-solid fa-envelope"></i>
							</div>
							<div class="contact-details">
								<h5>nghbang1909@gmail.com</h5>
								<p>Đặt bất kỳ câu hỏi nào cho chúng tôi.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-8">
						<form class="form-area contact-form text-right" th:action="@{/home/submit_contact}"
							  method="post"
							  th:object="${contact}">
							<div class="row">
								<div class="col-lg-6 form-group">
									<input th:field="*{name}" name="name" placeholder="Nhập tên liên hệ"
										   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'"
										   class="common-input mb-20 form-control" required="" type="text"
										   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
									<div class="invalid-feedback" th:errors="*{name}"></div>

									<input th:field="*{email}"
										   th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
										   name="email"
										   placeholder="Nhập địa chỉ email"
										   pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
										   onfocus="this.placeholder = ''"
										   onblur="this.placeholder = 'Enter email address'"
										   class="common-input mb-20 form-control" required="" type="email">
									<div class="invalid-feedback" th:errors="*{email}"></div>
									<input th:field="*{title}"
										   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid' : ''"
										   name="subject"
										   placeholder="Tiêu đề cho thư này" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = 'Enter subject'"
										   class="common-input mb-20 form-control" required="" type="text">
									<div class="invalid-feedback" th:errors="*{title}"></div>
								</div>
								<div class="col-lg-6 form-group">
                                <textarea th:field="*{content}"
										  th:classappend="${#fields.hasErrors('content')} ? 'is-invalid' : ''"
										  class="common-textarea form-control" name="message"
										  placeholder="Nhập nội dung" onfocus="this.placeholder = ''"
										  onblur="this.placeholder = 'Enter Messege'" required=""></textarea>
									<div class="invalid-feedback" th:errors="*{content}"></div>
								</div>
								<div class="col-lg-12">
									<div class="alert-msg" style="text-align: left;"></div>
									<button class="genric-btn primary" style="float: right;">Gửi thư</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>
