
<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layouts/user_layout">
<head>
	<meta charset="UTF-8">
	<title>Trang Chủ</title>
	<link rel="shortcut icon" th:href="@{/img/favicon.svg}">
</head>
<body>
	<div layout:fragment="content">
		<section class="popular-destination-area section-gap">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-70 col-lg-8">
						<div class="title text-center">
							<h1 class="mb-10">Các điểm đến phổ biến</h1>
							<p>
								Gợi ý cho bạn địa điểm du lịch được ưa thích nhất.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4" th:each="city:${topDestinationCities}">
						<div class="single-destination relative">
							<div class="thumb relative">
								<div class="overlay overlay-bg"></div>
								<img class="img-fluid" src="img/vehicle2.jpg" alt="hình ảnh">
							</div>
							<div class="desc">
								<a th:href="'/home/find-destination-city/'+${city.id}" class="price-btn">Đặt vé ngay</a>
								<h4 style="font-size: 40px" th:text="${city.name}"></h4>
								<p></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End popular-destination Area -->


		<!-- Start price Area -->
		<section class="price-area section-gap">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-70 col-lg-8">
						<div class="title text-center">
							<h1 class="mb-10">Chúng tôi luôn cung cấp chuyến đi với giá cả hợp lý.</h1>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="container-fluid">
						<div class="single-price">
							<h4>CHUYẾN ĐI PHỔ BIẾN</h4>
							<table class='table mb-0 price-list' id="table1">
								<thead>
								<th>Điểm đi</th>
								<th>Điểm đến</th>
								<th>Giá tiền</th>

								</thead>
								<tbody id="tbody">
								<th:block th:each="trip: ${topTripList}">
									<tr>
										<td>[[${trip.route.startCity.name}]]</td>
										<td>[[${trip.route.endCity.name}]]</td>
										<td><a th:href="@{'/booking-popular-trip/'+${trip.id} }" class="price-btn"
											   th:text="${#numbers.formatDecimal(trip.price, 0, 'COMMA', 0, 'POINT') + 'đ'}"></a>
										</td>
									</tr>
								</th:block>
								</tbody>
							</table>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- End price Area -->

	</div>
</body>
</html>
