<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/sub_layout">
<head>
  <meta charset="UTF-8">
  <title>Payment</title>
</head>
<body>
<div layout:fragment="content">
  <div style="margin-top: 80px;margin-bottom: 75px;">
  <div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="col-md-4">
      <div class="border border-3 border-success"></div>
      <div class="card  bg-white shadow p-5">
        <div class="mb-4 text-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="text-success bi bi-check-circle" width="75" height="75"
               fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
          </svg>
        </div>
        <div class="text-center">
          <h1>Thanh toán</h1>
        <p>Thành công đặt chổ, quý khánh vui lòng thanh toán để nhận vé</p>
          <a th:href="${vnpay}" style="background-color: #ffffff;" class="btn btn-outline-success"><span style="color: #e61b23; font-weight: bold;">VN</span><span style="color:#0058a5; font-weight: bold;">PAY</span></a>
          <a style="background-color: #ad006c;color: white" th:href="${momo}" class="btn btn-outline-light">MOMO</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</body>
</html>
