<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/sub_layout">
<head>
  <meta charset="UTF-8">
  <title>Danh sách vé xe đã đặt</title>
</head>
<body>
<div layout:fragment="content">
  <div class="container-fluid text-center" style="margin-bottom: 20px;margin-top: 20px;">
    <input type="text" class="input-group-text" placeholder="search booking" id="q" size="50">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title">Thông tin chi tiết vé</h4>
        <div class="d-flex ">
          <a class="card-title btn btn-info" th:href="@{/home}" style="color: white">Trang Chủ</a>
        </div>
      </div>
      <div class="card-body px-0 pb-0">
        <div class="table-responsive">
          <table class='table mb-0' id="table1">
            <thead>
            <tr>
              <th>Mã vé</th>
              <th>Tuyến đi</th>
              <th>Ngày đi</th>
              <th>Giờ khởi hành</th>
              <th>Loại xe</th>
              <th>Biển số</th>
              <th>Ghế đã chọn</th>
              <th>Số lượng vé</th>
              <th>Tổng tiền</th>
              <th>Trạng thái</th>
            </tr>
            </thead>
            <tbody id="tbody">
            <tr th:if="${notFound}"><td colspan='11' class='text-center'>Không có kết quả tìm kiếm.</td></tr>
            <tr th:unless="${notFound}" th:each="booking, i : ${bookings}">
              <td th:text="${booking.bookingDetails.get(0).id.ticketCode}"></td>
              <td th:text="${booking.trip.route.name}"></td>
              <td th:text="${#temporals.format(booking.booking_date, 'dd/MM/yyyy')}"></td>
              <td th:text="${booking.trip.startTime}"></td>
              <td th:text="${booking.trip.vehicle.name}"></td>
              <td th:text="${booking.trip.vehicle.licensePlates}"></td>
              <td>
                <span th:each="sr : ${booking.seatReservations}" th:text="${sr.seat.name} + ', '"></span>
              </td>
              <td th:text="${booking.seatReservations.size()}"></td>
              <td>[[${#numbers.formatDecimal(booking.bookingDetails.get(0).totalPrice, 0, 'COMMA', 0, 'POINT') + 'đ'}]]</td>
              <td th:text="${booking.isPaid} ? 'Đã thanh toán' : 'Chưa thanh toán'"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
