<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/sub_layout">
<head>
    <meta charset="UTF-8">
    <title>Đặt Trung Chuyển</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.svg}">
    <link rel="stylesheet" th:href="@{/css/transit_form.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.1.0/ol.css">
    <script src="https://cdn.jsdelivr.net/npm/ol@v7.1.0/dist/ol.js"></script>
</head>
<body onload="getCurrentLocation()">
<div layout:fragment="content">
    <div class="row-container">
        <div class="container-fluid">
            <form th:action="@{/users/tickets/transit-form}" method="post" th:object="${shuttlebus}"
                  style="max-width: 500px; margin: 0 auto;" onsubmit="checkDistance(event)">
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{booking}">
                <input type="hidden" id="storeAddress" name="storeAddress" th:value="${storeAddress}">
                <input type="hidden" id="isEdit" name="isEdit" th:value="${isEdit}">
                <div class="border border-secondary rounded p-3">

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Tên liên hệ:</label>
                        <div class="col-sm-8">
                            <input type="text" th:field="*{name}" class="form-control" required maxlength="25"
                                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
                            <div class="invalid-feedback" th:errors="*{name}"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Nơi đón:</label>
                        <div class="col-sm-8">
                            <input type="text" id="address" name="address" th:field="*{address}" class="form-control"
                                   required
                                   th:classappend="${#fields.hasErrors('address')} ? 'is-invalid' : ''">
                            <div class="invalid-feedback" th:errors="*{address}"></div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Số điện thoại:</label>
                        <div class="col-sm-8">
                            <input type="text" pattern="(\+84|0)\d{9,10}" title="Vui lòng nhập số điện thoại hợp lệ"
                                   th:field="*{phone}" class="form-control" minlength="10" maxlength="12"
                                   min="0" required th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid' : ''">
                            <div class="invalid-feedback" th:errors="*{phone}"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Chọn địa chỉ:</label>
                        <div class="col-sm-8">
                            <label class="custom-checkbox">
                                <input type="checkbox" id="disableDistance" onclick="toggleDistanceCheck(event)">
                                <span class="checkmark"></span>
                            </label>
                            <input type="hidden" id="disableDistanceHidden" name="disableDistance">
                        </div>
                    </div>
                    <div class="form-group row d-none" id="divsearch">
                        <div id="openmap" style="width: 100%; height: 350px;"></div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Hủy</button>
                        <button type="submit" class="btn btn-primary m-2" onclick="checkDistance(event)">Lưu</button>
                    </div>
                </div>

            </form>

        </div>

        <div class="container-fluid">
            <div class="border border-secondary rounded p-3 square-container">
                <p class="term-heading text-danger">LƯU Ý</p>
                <hr/>
                <p>
                    <span class="text-danger">(*)</span> Quý khách vui lòng mang email có chứa mã vé đến văn phòng để
                    đổi vé lên xe trước giờ xuất bến ít
                    nhất
                    <span class="highlighted-text"> <strong>20 phút</strong> </span>
                </p>
                <p>
                    <span class="text-danger">(*)</span> Quý khách vui lòng điền thông tin trung chuyển vào mẫu này để
                    đặt xe trung chuyển. Chúng tôi không trung chuyển khách ở những nơi không đón được hoặc vượt quá bán
                    kính
                    <span class="highlighted-text"> <strong>4km</strong> </span> từ bến xe.
                </p>
                <p>
                    <span class="text-danger">(*)</span> Mọi chi tết
                    liên hệ số điện thoại
                    <a class="highlighted-link">0345712873</a>
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function cancelForm() {
            window.location = "[[@{/users/tickets/manage-receipts}]]";
        }
    </script>
    <script type="text/javascript">
        function getCurrentLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Trình duyệt của bạn không hỗ trợ định vị");
            }
        }

        function showPosition(position) {
            var userLatitude = position.coords.latitude;
            var userLongitude = position.coords.longitude;

            openmap(userLatitude, userLongitude);
            var nominatimApiUrl = "https://nominatim.openstreetmap.org/reverse?format=json&lat=" + userLatitude + "&lon=" + userLongitude;

            if (!document.getElementById("isEdit").value) {
                $.ajax({
                    url: nominatimApiUrl,
                    type: "GET",
                    dataType: "json",
                    success: function (response) {
                        var address = response.display_name;
                        document.getElementById("address").value = address;
                    },
                    error: function (xhr, status, error) {
                        console.log("Error: " + error);
                    }
                });
            }
        }

        function calculateDistance(lat1, lon1, lat2, lon2) {
            var earthRadius = 6371; // Đường kính trái đất (đơn vị: kilômét)
            var dLat = toRadians(lat2 - lat1);
            var dLon = toRadians(lon2 - lon1);
            var a =
                Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.cos(toRadians(lat1)) * Math.cos(toRadians(lat2)) *
                Math.sin(dLon / 2) * Math.sin(dLon / 2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            var distance = earthRadius * c;
            return distance;
        }

        function toRadians(degrees) {
            return degrees * (Math.PI / 180);
        }

        function checkDistance(event) {
            event.preventDefault();
            var addressInput = document.getElementById("address");
            var storeAddressInput = document.getElementById("storeAddress");
            var address = addressInput.value;
            var storeAddress = storeAddressInput.value;
            var addressApiUrl = "https://nominatim.openstreetmap.org/search?format=json&q=" + encodeURIComponent(address);
            var storeAddressApiUrl = "https://nominatim.openstreetmap.org/search?format=json&q=" + encodeURIComponent(storeAddress);

            var userLatitude;
            var userLongitude;
            var storeLatitude;
            var storeLongitude;

            $.ajax({
                url: addressApiUrl,
                type: "GET",
                dataType: "json",
                success: function (response) {
                    if (response.length > 0) {
                        userLatitude = response[0].lat;
                        userLongitude = response[0].lon;
                        calculateStoreDistance(userLatitude, userLongitude);
                    } else {
                        alert("Không tìm thấy địa chỉ của bạn trên Openstreetmap.");
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                }
            });

            function calculateStoreDistance(lat, lon) {
                $.ajax({
                    url: storeAddressApiUrl,
                    type: "GET",
                    dataType: "json",
                    success: function (response) {
                        if (response.length > 0) {
                            storeLatitude = response[0].lat;
                            storeLongitude = response[0].lon;
                            var distance = calculateDistance(lat, lon, storeLatitude, storeLongitude);
                            console.log(distance);
                            if (distance > 4) {
                                alert("Chúng tôi không trung chuyển quá bán kính 4km.");
                            } else {
                                // Nếu khoảng cách hợp lệ, submit form
                                // Nếu khoảng cách hợp lệ, submit form
                                event.target.closest('form').submit();

                            }
                        } else {
                            alert("Không tìm thấy địa chỉ nhà xe trên Openstreetmap.");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log("Error: " + error);
                    }
                });
            }
        }
    </script>
    <script type="text/javascript">
        function toggleDistanceCheck(event) {
            var disableDistanceCheckbox = document.getElementById("disableDistance");
            var disableDistanceHiddenInput = document.getElementById("disableDistanceHidden");
            var openMapDiv = document.getElementById("divsearch");

            if (disableDistanceCheckbox.checked) {
                disableDistanceHiddenInput.value = "true";
                openMapDiv.classList.remove("d-none"); // Hiện openmap
            } else {
                disableDistanceHiddenInput.value = "";
                openMapDiv.classList.add("d-none"); // Ẩn openmap
            }
        }

        var markerLayer;

        function openmap(lat1, lon1) {
            const key = 'YwIwHi1e7tx1uvAjxmE5';
            const source = new ol.source.TileJSON({
                url: `https://api.maptiler.com/maps/streets-v2/tiles.json?key=${key}`,
                tileSize: 512,
                crossOrigin: 'anonymous'
            });

            const attribution = new ol.control.Attribution({
                collapsible: false,
            });

            const map = new ol.Map({
                layers: [
                    new ol.layer.Tile({
                        source: source
                    })
                ],
                controls: ol.control.defaults.defaults({attribution: false}).extend([attribution]),
                target: 'openmap',
                view: new ol.View({
                    constrainResolution: true,
                    center: ol.proj.fromLonLat([lon1, lat1]),
                    zoom: 15
                })
            });

            // Create a reference to the marker feature
            const marker = new ol.Feature({
                geometry: new ol.geom.Point(ol.proj.fromLonLat([lon1, lat1])),
            });
            const markerSource = new ol.source.Vector({
                features: [marker]
            });
            markerLayer = new ol.layer.Vector({
                source: markerSource,
                style: new ol.style.Style({
                    image: new ol.style.Icon({
                        anchor: [0.5, 1],
                        crossOrigin: 'anonymous',
                        src: '/img/marker.png',
                    })
                })
            });
            map.addLayer(markerLayer);

            function centerMap(latitude, longitude) {
                var view = map.getView();
                view.setCenter(ol.proj.fromLonLat([longitude, latitude]));
                view.setZoom(17);
            }

            // Thêm chức năng chọn vị trí khi nhấp chuột vào bản đồ
            map.on('click', function (event) {
                var coordinate = event.coordinate;
                var lonlat = ol.proj.toLonLat(coordinate);
                var latitude = lonlat[1];
                var longitude = lonlat[0];
                // Gửi vị trí được chọn cho server hoặc xử lý theo yêu cầu của bạn
                console.log('Selected Location:', latitude, longitude);
                var nominatimApiUrl = "https://nominatim.openstreetmap.org/reverse?format=json&lat=" + latitude + "&lon=" + longitude;

                $.ajax({
                    url: nominatimApiUrl,
                    type: "GET",
                    dataType: "json",
                    success: function (response) {
                        var address = response.display_name;
                        document.getElementById("address").value = address;

                        // Update marker position
                        marker.setGeometry(new ol.geom.Point(coordinate));
                    },
                    error: function (xhr, status, error) {
                        console.log("Error: " + error);
                    }
                });
            });

            // Xử lý sự kiện tìm kiếm
            var searchInput = document.getElementById("address");
            searchInput.addEventListener("keydown", function (event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                    searchAddress();
                }
            });

            function searchAddress() {
                var address = searchInput.value;
                var addressApiUrl = "https://nominatim.openstreetmap.org/search?format=json&q=" + encodeURIComponent(address);

                $.ajax({
                    url: addressApiUrl,
                    type: "GET",
                    dataType: "json",
                    success: function (response) {
                        if (response.length > 0) {
                            var latitude = response[0].lat;
                            var longitude = response[0].lon;
                            var coordinate = ol.proj.fromLonLat([longitude, latitude]);
                            marker.setGeometry(new ol.geom.Point(coordinate));
                        } else {
                            alert("Không tìm thấy địa chỉ trên bản đồ.");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log("Error: " + error);
                    }
                });
            }
        }
    </script>
</div>
</body>
</html>
