<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/sub_layout">
<head>
    <meta charset="UTF-8">
    <title>Về Chúng Tôi</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
    <link rel="shortcut icon" th:href="@{/img/favicon.svg}">
</head>
<body>
<div layout:fragment="content">
    <!-- Start about-info Area -->
    <section class="about-info-area section-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 info-left">
                    <img class="img-fluid" src="img/about/info-img.jpg" alt="">
                </div>
                <div class="col-lg-6 info-right">
                    <h1>Chúng tôi là ai?</h1>
                    <p>
                        Công ty được thành lập năm 2001. Trải qua 20 năm phát triển đặt khách hàng làm trọng tâm chúng
                        tôi luôn không ngừng cải tiến để mang đến chất lượng dịch vụ tốt nhất cho khách hàng.
                    </p>
                    <p> Với đội ngũ nhân viên chuyên nghiệp và tận tâm, chúng tôi cung cấp các dịch vụ vận chuyển đa
                        dạng và linh hoạt chúng tôi đảm bảo độ an toàn cao và đúng hẹn, đồng thời tạo ra trải nghiệm
                        thoải mái và tiện lợi cho khách hàng.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="about-info-area section-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 info-left">
                    <img class="img-fluid" src="img/about/info-img2.jpg" alt="">
                </div>
                <div class="col-lg-6 info-right">
                    <h1>Tại sao bạn nên chọn chúng tôi</h1>
                    <p>
                        Phương thức thanh toán an toàn và linh hoạt.
                        Giao dịch trực tuyến an toàn với nhiều lựa chọn như thanh toán tại cửa hàng tiện lợi, chuyển
                        khoản ngân hàng, thẻ tín dụng đến Internet Banking. Không tính phí giao dịch.
                    </p>
                    <p>
                        Tiện lợi và tiết kiệm thời gian
                        Chỉ với một cú nhấp chuột, bạn có thể dể dàng chọn lựa chuyến đi, thời gian và ghế ngồi phù hợp
                        theo cá nhân mà không cần mất thời gian tư vấn tại quầy vé
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Start testimonial Area -->
    <section class="testimonial-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Đội ngũ nhân nhiên chuyên nghiệp</h1>
                        <p>Chúng tôi luôn cam kết mang đến cho bạn chuyến đi thoải mái nhất với đội ngũ nhân viên của
                            mình</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="active-testimonial">
                    <div class="single-testimonial item d-flex flex-row">
                        <div class="thumb">
                            <img class="img-fluid" src="img/elements/user1.png" alt="">
                        </div>
                        <div class="desc">
                            <p>
                                Tất cả nhân viên tại Voler sẽ cần phải tham gia khóa đào tạo để mang đến cho khách hàng
                                có trải nghiệm tốt nhất.
                                Tại đây chúng tôi cam kết giá cả sẽ đáng với số tiền mà bạn bỏ ra
                            </p>
                            <h4>Nhân viên Hữu Bằng</h4>
                            <div class="star">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star "></span>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial item d-flex flex-row">
                        <div class="thumb">
                            <img class="img-fluid" src="img/elements/user2.png" alt="">
                        </div>
                        <div class="desc">
                            <p>
                                Chúng tôi luôn cố mang mang đến trải nghiệm tốt nhất cho khách hàng với tiêu chí "Đồng
                                hành cùng bạn trên mọi hành trình".
                                Website được thiết kế đơn giản để có thể tiếp cận với mọi đối tượng khách hàng
                            </p>
                            <h4>Nhà phát triển Bằng</h4>
                            <div class="star">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
</div>
</body>
</html>
