
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/sub_layout">
<head>
  <meta charset="UTF-8">
  <title>Thành công</title>
  <style>
    .row-containerX {
      margin-top: 80px;
      margin-bottom: 75px;
      text-align: center;
    }
  </style>
  <link rel="shortcut icon" th:href="@{/img/favicon.svg}">
</head>
<body onload="getCurrentLocation()">
<div layout:fragment="content">
  <div class="row-containerX">
    <div class="container-fluid">
      <i style=" color: #118f11;
      font-size: 100px;
      line-height: 200px;
      margin-left: -15px;" class="checkmark">✓</i>
      <h1 style=" font-weight: bold;
      font-size: 30px;
      margin-bottom: 10px;color: #118f11">Thành Công</h1>
      <hr/>
      <p style="font-size: 30px;font-weight: bold;" th:text="${message}"></p><br/>
      <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Trở về</button>
      </p>
    </div>
  </div>
  <script type="text/javascript">
    function cancelForm() {
      window.location = "[[@{/home}]]";
    }
  </script>
</div>
</div>
</body>
</html>
