<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="admin/layouts/dashboard">
<head>
  <meta charset="UTF-8">
  <title>Manage Seats</title>
</head>
<body>
<div layout:fragment="content">

  <div class="container-fluid text-center">
    <div><h2>Manage Seats</h2></div>
    <input type="text" class="input-group-text" placeholder="search by name" id="q" size="50">
    <hr/>
    <hr/>
    <div th:if="${raMessage}" class="alert alert-success text-center">
      [[${raMessage}]]
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger text-center">
      [[${errorMessage}]]
    </div>

    <div>
      <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Vehicle</th>
          <th>License Plates</th>
          <th></th>
        </tr>
        </thead>
        <tbody id="tbody">
        <th:block th:each="seat : ${seats}">
          <tr>
            <td>[[${seat.id}]]</td>
            <td>[[${seat.name}]]</td>
            <td>[[${seat.vehicle.name}]]</td>
            <td>[[${seat.vehicle.licensePlates}]]</td>
            <td>
              <a th:href="@{'/admin/seats/edit/' + ${seat.id}}">Edit</a> |
              <a th:href="@{'/admin/seats/delete/' + ${seat.id}}">Delete</a>
            </td>
          </tr>
        </th:block>
        </tbody>
      </table>
      <div th:if="${totalPages>1}" class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 1} ? disabled">
              <a class="page-link" th:href="@{/admin/seats/page/1}">First</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == 1} ? disabled">
              <a class="page-link" th:href="@{/admin/seats/page/{page}(page=${currentPage - 1})}">Previous</a>
            </li>
            <li class="page-item" th:each="page : ${#numbers.sequence(1, totalPages)}">
              <a class="page-link" th:classappend="${page == currentPage} ? activeCurrentPage"
                 th:href="@{/admin/seats/page/{page}(page=${page})}" th:text="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled">
              <a class="page-link" th:href="@{/admin/seats/page/{page}(page=${currentPage + 1})}">Next</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled">
              <a class="page-link" th:href="@{/admin/seats/page/{page}(page=${totalPages})}">Last</a>
            </li>
          </ul>
        </nav>
      </div>

      <a th:href="@{/admin/seats/new}" class="btn btn-info" style="float: right; margin: 10px">Create Seat</a>
    </div>
  </div>
  <script th:src="@{/js/ajax/seats.js}"></script>
</div>
</body>
</html>