<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="admin/layouts/dashboard">
<head>
    <meta charset="UTF-8">
    <title>Chi Tiết Hóa Đơn</title>
</head>
<body>
<div layout:fragment="content">

    <div class="container-fluid text-center">
        <input type="text" class="input-group-text" placeholder="Tìm kiếm" onfocus="this.placeholder = ''"
               onblur="this.placeholder = 'Tìm kiếm'" id="q" size="50">
        <hr/>
        <div th:if="${raMessage}" class="alert alert-success text-center">
            [[${raMessage}]]
        </div>
        <div th:if="${errorMessage}" class="alert alert-danger text-center">
            [[${errorMessage}]]
        </div>
        <div>
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Chi Tiết Hóa Đơn</h4>
                    <div class="d-flex ">
                        <i data-feather="download"></i>
                    </div>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">
                        <table class='table mb-0' id="table1">
                            <thead>
                            <th>
                                <a th:href="@{'/admin/booking-details/page/'+${currentPage}+'?sortField=id&sortDir='+${reserseSortDir}}">Mã
                                    vé</a>
                            </th>
                            <th>
                                <a th:href="@{'/admin/booking-details/page/'+${currentPage}+'?sortField=id&sortDir='+${reserseSortDir}}">Mã
                                    hóa đơn</a>
                            </th>
                            <th>
                                <a th:href="@{'/admin/booking-details/page/'+${currentPage}+'?sortField=numberOfTickets&sortDir='+${reserseSortDir}}">Số
                                    lượng vé</a>
                            </th>
                            <th>
                                <a th:href="@{'/admin/booking-details/page/'+${currentPage}+'?sortField=totalPrice&sortDir='+${reserseSortDir}}">Tổng
                                    tiền</a>
                            </th>
                            <th></th>
                            </thead>
                            <tbody>
                            <th:block th:each="bookingDetail: ${bookingDetails}">
                                <tr>
                                    <td>[[${bookingDetail.id.ticketCode}]]</td>
                                    <td>[[${bookingDetail.id.bookingId}]]</td>
                                    <td>[[${bookingDetail.numberOfTickets}]]</td>
                                    <td>[[${#numbers.formatDecimal(bookingDetail.totalPrice, 0, 'COMMA', 0, 'POINT') + 'đ'}]]</td>
                                    <td>
                                        <a th:href="@{'/admin/booking-details/edit/' +${bookingDetail.id.bookingId} + '/' + ${bookingDetail.id.ticketCode}}">Sửa</a>
                                        <!--   |
                                         <a class="text-danger"
                                             th:href="@{'/admin/booking-details/delete/' + ${bookingDetail.id.bookingId} + '/' + ${bookingDetail.id.ticketCode}}"
                                             onclick="return confirm('Bạn có chắc muốn xóa chứ?')">Xóa</a>-->
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div th:if="${totalPages>1}" class="d-flex justify-content-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${currentPage == 1} ? disabled">
                            <a class="page-link"
                               th:href="@{'/admin/booking-details/page/1?sortField='+${sortField}+'&sortDir='+${sortDir}}">First</a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == 1} ? disabled">
                            <a class="page-link"
                               th:href="@{'/admin/booking-details/page/'+${currentPage - 1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}">Previous</a>
                        </li>
                        <!--<li class="page-item" th:each="page : ${#numbers.sequence(1, totalPages)}">
                            <a class="page-link" th:classappend="${page == currentPage} ? activeCurrentPage"
                               th:href="@{'/admin/booking-details/page/'+${page}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}"
                               th:text="${page}"></a>
                        </li>-->
                        <th:block th:if="${currentPage - 5 > 1}">
                            <li class="page-item">
                                <a class="page-link"
                                   th:href="@{'/admin/booking-details/page/1?sortField='+${sortField}+'&sortDir='+${sortDir}}">1</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                        </th:block>
                        <th:block
                                th:each="page : ${#numbers.sequence((currentPage - 5 > 1 ? currentPage - 5 : 1) , (currentPage + 5 < totalPages ? currentPage + 5 : totalPages))}">
                            <li class="page-item">
                                <a class="page-link" th:classappend="${page == currentPage} ? activeCurrentPage"
                                   th:href="@{'/admin/booking-details/page/'+${page}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}"
                                   th:text="${page}"></a>
                            </li>
                        </th:block>
                        <th:block th:if="${currentPage + 5 < totalPages}">
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                   th:href="@{'/admin/booking-details/page/'+${totalPages}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}"
                                   th:text="${totalPages}"></a>
                            </li>
                        </th:block>
                        <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled">
                            <a class="page-link"
                               th:href="@{'/admin/booking-details/page/'+${currentPage + 1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}">Next</a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled">
                            <a class="page-link"
                               th:href="@{'/admin/booking-details/page/'+${totalPages}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <a th:href="@{/admin/booking-details/new}" class="btn btn-info" style="float: right; margin: 10px">Tạo
                mới</a>

        </div>
    </div>
    <script th:src="@{/js/ajax/bookingdetails.js}"></script>
</div>
</body>
</html>
