<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="admin/layouts/dashboard">
<head>
  <meta charset="UTF-8">
  <title>Phương Tiện</title>
</head>
<body>
<div layout:fragment="content">
  <div class="container-fluid text-center">
    <input type="text" class="input-group-text" placeholder="Tìm kiếm" onfocus="this.placeholder = ''"
           onblur="this.placeholder = 'Tìm kiếm'" id="q" size="50">
    <hr/>
    <div th:if="${raMessage}" class="alert alert-success text-center">
      [[${raMessage}]]
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger text-center">
      [[${errorMessage}]]
    </div>

    <div>
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4 class="card-title">Quản Lý Phương Tiện</h4>
          <div class="d-flex ">
            <i data-feather="download"></i>
          </div>
        </div>
        <div class="card-body px-0 pb-0">
          <div class="table-responsive">
            <table class='table mb-0' id="table1">
              <thead>
              <tr>
                <th>
                  <a th:href="@{'/admin/vehicles/page/'+${currentPage}+'?sortField=id&sortDir='+${reserseSortDir}}">ID</a>
                </th>
                <th>
                  <a th:href="@{'/admin/vehicles/page/'+${currentPage}+'?sortField=name&sortDir='+${reserseSortDir}}">Loại
                    xe</a>
                </th>
                <th>
                  <a th:href="@{'/admin/vehicles/page/'+${currentPage}+'?sortField=licensePlates&sortDir='+${reserseSortDir}}">Biển
                    số</a>
                </th>
                <th>
                  <a th:href="@{'/admin/vehicles/page/'+${currentPage}+'?sortField=capacity&sortDir='+${reserseSortDir}}">Sức
                    chứa</a>
                </th>
                <th>Sơ đồ ghế</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <th:block th:each="vehicle : ${vehicles}">
                <tr>
                  <td>[[${vehicle.getId()}]]</td>
                  <td>[[${vehicle.name}]]</td>
                  <td>[[${vehicle.licensePlates}]]</td>
                  <td>[[${vehicle.getCapacity()}]]</td>
                  <td>
                    <img alt="seat-map" style="max-width: 100%; max-height: 170px;" th:src="@{${vehicle.routeImagePath}}">
                  </td>
                  <td>
                    <a th:href="@{'/admin/vehicles/edit/' + ${vehicle.getId()}}">Sửa</a> |
                    <a class="text-danger" th:href="@{'/admin/vehicles/delete/' + ${vehicle.getId()}}"
                       onclick="return confirm('Bạn có chắc muốn xóa chứ?')">Xóa</a>
                  </td>
                </tr>
              </th:block>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div th:if="${totalPages>1}" class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 1} ? disabled">
              <a class="page-link" th:href="@{'/admin/vehicles/page/1?sortField='+${sortField}+'&sortDir='+${sortDir}}">First</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == 1} ? disabled">
              <a class="page-link"
                 th:href="@{'/admin/vehicles/page/'+${currentPage - 1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}">Previous</a>
            </li>
            <li class="page-item" th:each="page : ${#numbers.sequence(1, totalPages)}">
              <a class="page-link" th:classappend="${page == currentPage} ? activeCurrentPage"
                 th:href="@{'/admin/vehicles/page/'+${page}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}"
                 th:text="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled">
              <a class="page-link"
                 th:href="@{'/admin/vehicles/page/'+${currentPage + 1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}">Next</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled">
              <a class="page-link"
                 th:href="@{'/admin/vehicles/page/'+${totalPages}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}">Last</a>
            </li>
          </ul>
        </nav>
      </div>
      <a th:href="@{/admin/vehicles/new}" class="btn btn-info" style="float: right; margin: 10px">Thêm xe mới</a>
    </div>
  </div>
  <script th:src="@{/js/ajax/vehicles.js}"></script>
</div>
</body>
</html>