<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="admin/layouts/dashboard">
<head>
  <meta charset="UTF-8">
  <title>Manage Trips</title>
</head>
<body>
<div layout:fragment="content">

  <div class="container-fluid text-center">
    <input type="text" class="input-group-text" placeholder="search trips" id="q" size="50">
    <hr/>
    <div th:if="${raMessage}" class="alert alert-success text-center">
      [[${raMessage}]]
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger text-center">
      [[${errorMessage}]]
    </div>

    <div>
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4 class="card-title">Manage Trips</h4>
          <div class="d-flex ">
            <i data-feather="download"></i>
          </div>
        </div>
        <div class="card-body px-0 pb-0">
          <div class="table-responsive">
            <table class='table mb-0' id="table1">
              <thead>
              <th>
                  <a th:href="@{'/admin/trips/page/'+${currentPage}+'?sortField=id&sortDir='+${reserseSortDir}}">ID</a>
              </th>
              <th>
                  <a th:href="@{'/admin/trips/page/'+${currentPage}+'?sortField=route.name&sortDir='+${reserseSortDir}}">Tuyến</a>
              </th>
              <th>
                  <a th:href="@{'/admin/trips/page/'+${currentPage}+'?sortField=vehicle.name&sortDir='+${reserseSortDir}}">Xe</a>
              </th>
              <th>
                  <a th:href="@{'/admin/trips/page/'+${currentPage}+'?sortField=startTime&sortDir='+${reserseSortDir}}">Giờ
                      khởi hành</a>
              </th>
              <th>
                  <a th:href="@{'/admin/trips/page/'+${currentPage}+'?sortField=price&sortDir='+${reserseSortDir}}">Giá
                      vé</a>
              </th>
              <th></th>
              </thead>
              <tbody id="tbody">
              <th:block th:each="trip: ${trips}">
                <tr>
                  <td>[[${trip.id}]]</td>
                  <td>[[${trip.route.name}]]</td>
                  <td>[[${trip.vehicle.name}]]</td>
                  <td>[[${trip.startTime}]]</td>
                  <td>[[${#numbers.formatDecimal(trip.price, 0, 'COMMA', 0, 'POINT') + 'đ'}]]</td>
                  <td>
                    <a th:href="@{'/admin/trips/edit/' + ${trip.id}}">Edit</a> |
                    <a th:href="@{'/admin/trips/delete/' + ${trip.id}}">Delete</a>
                  </td>
                </tr>
              </th:block>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div th:if="${totalPages>1}" class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 1} ? disabled">
                <a class="page-link" th:href="@{'/admin/trips/page/1?sortField='+${sortField}+'&sortDir='+${sortDir}}">First</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == 1} ? disabled">
                <a class="page-link"
                   th:href="@{'/admin/trips/page/'+${currentPage - 1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}">Previous</a>
            </li>
            <li class="page-item" th:each="page : ${#numbers.sequence(1, totalPages)}">
                <a class="page-link" th:classappend="${page == currentPage} ? activeCurrentPage"
                   th:href="@{'/admin/trips/page/'+${page}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}"
                   th:text="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled">
                <a class="page-link"
                   th:href="@{'/admin/trips/page/'+${currentPage + 1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}">Next</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled">
                <a class="page-link"
                   th:href="@{'/admin/trips/page/'+${totalPages}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}">Last</a>
            </li>
          </ul>
        </nav>
      </div>

      <a th:href="@{/admin/trips/new}" class="btn btn-info" style="float: right; margin: 10px">Create Trip</a>
    </div>
    <script th:src="@{/js/ajax/trips.js}"></script>
  </div>

</div>
</body>
</html>
