<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="admin/layouts/dashboard">
<head>
    <meta charset="UTF-8">
    <title>Manage Seat-Reservation</title>
</head>
<body>
<div layout:fragment="content">

    <div class="container-fluid text-center">
        <input type="text" class="input-group-text" placeholder="Tìm kiếm" onfocus="this.placeholder = ''"
               onblur="this.placeholder = 'Tìm kiếm'" id="q" size="50">
        <hr/>
        <div th:if="${raMessage}" class="alert alert-success text-center">
            [[${raMessage}]]
        </div>
        <div th:if="${errorMessage}" class="alert alert-danger text-center">
            [[${errorMessage}]]
        </div>

        <div>
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Quản lý ghế đặt trước</h4>
                    <div class="d-flex ">
                        <i data-feather="download"></i>
                    </div>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">
                        <table class='table mb-0' id="table1">
                            <thead>
                            <th>
                                <a th:href="@{'/admin/seat-reservation/page/'+${currentPage}+'?sortField=id&sortDir='+${reserseSortDir}}">ID</a>
                            </th>
                            <th>
                                <a th:href="@{'/admin/seat-reservation/page/'+${currentPage}+'?sortField=booking.user.email&sortDir='+${reserseSortDir}}">Email</a>
                            </th>
                            <th>
                                <a th:href="@{'/admin/seat-reservation/page/'+${currentPage}+'?sortField=booking.trip.vehicle.name&sortDir='+${reserseSortDir}}">Tên
                                    xe</a>
                            </th>
                            <th>
                                <a th:href="@{'/admin/seat-reservation/page/'+${currentPage}+'?sortField=seat.name&sortDir='+${reserseSortDir}}">Ghế
                                    đặt</a>
                            </th>
                            <th>
                                <a th:href="@{'/admin/seat-reservation/page/'+${currentPage}+'?sortField=seat.vehicle.licensePlates&sortDir='+${reserseSortDir}}">Biển
                                    số xe</a>
                            </th>
                            <th>
                                <a th:href="@{'/admin/seat-reservation/page/'+${currentPage}+'?sortField=booking.trip.startTime&sortDir='+${reserseSortDir}}">Giờ
                                    khởi hành</a></th>
                            <th>
                                <a th:href="@{'/admin/seat-reservation/page/'+${currentPage}+'?sortField=seatsAvailable&sortDir='+${reserseSortDir}}">Ghế
                                    còn trống</a>
                            </th>
                            <th></th>
                            </thead>
                            <tbody>
                            <th:block th:each="seatReservation : ${seatReservations}">
                                <tr>
                                    <td>[[${seatReservation.id}]]</td>
                                    <td>[[${seatReservation.booking.user.email}]]</td>
                                    <td>[[${seatReservation.seat.vehicle.name}]]</td>
                                    <td>[[${seatReservation.seat.name}]]</td>
                                    <td>[[${seatReservation.seat.vehicle.licensePlates}]]</td>
                                    <td>[[${seatReservation.booking.trip.startTime}]]
                                        [[${#temporals.format(seatReservation.booking.bookingDate, 'dd/MM/yyyy')}]]
                                    </td>
                                    <td>[[${seatReservation.seatsAvailable}]]</td>
                                    <td>
                                        <a th:href="@{'/admin/seat-reservation/edit/' + ${seatReservation.id}}">Sửa</a>
                                        |
                                        <a class="text-danger"
                                           th:href="@{'/admin/seat-reservation/delete/' + ${seatReservation.id}}"
                                           onclick="return confirm('Bạn có chắc muốn xóa chứ?')">Xóa</a>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div th:if="${totalPages>1}" class="d-flex justify-content-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${currentPage == 1} ? disabled">
                            <a class="page-link"
                               th:href="@{'/admin/seat-reservation/page/1?sortField='+${sortField}+'&sortDir='+${sortDir}}">First</a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == 1} ? disabled">
                            <a class="page-link"
                               th:href="@{'/admin/seat-reservation/page/'+${currentPage - 1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}">Previous</a>
                        </li>
                        <li class="page-item" th:each="page : ${#numbers.sequence(1, totalPages)}">
                            <a class="page-link" th:classappend="${page == currentPage} ? activeCurrentPage"
                               th:href="@{'/admin/seat-reservation/page/'+${page}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}"
                               th:text="${page}"></a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled">
                            <a class="page-link"
                               th:href="@{'/admin/seat-reservation/page/'+${currentPage + 1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}">Next</a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == totalPages} ? disabled">
                            <a class="page-link"
                               th:href="@{'/admin/seat-reservation/page/'+${totalPages}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <a th:href="@{/admin/seat-reservation/new}" class="btn btn-info" style="float: right; margin: 10px">Create SeatReservation</a>

        </div>
    </div>
    <script th:src="@{/js/ajax/seatreservation.js}"></script>

</div>
</body>
</html>