<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="admin/layouts/dashboard">
<head>
    <meta charset="UTF-8">
    <title>Hóa Đơn</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid text-center" style="margin-bottom: 20px;margin-top: 20px;">
        <div th:if="${raMessage}" class="alert alert-success text-center">
            [[${raMessage}]]
        </div>
        <div th:if="${cancelBooking}" class="alert alert-success text-center">
            [[${cancelBooking}]]
        </div>
        <div th:if="${errorMessage}" class="alert alert-danger text-center">
            [[${errorMessage}]]
        </div>

        <input type="text" class="input-group-text" placeholder="Tìm hóa đơn chưa thanh toán"
               onfocus="this.placeholder = ''"
               onblur="this.placeholder = 'Tìm hóa đơn chưa thanh toán'" id="q" size="50" style="margin-bottom: 30px;">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="card-title"><span class="text-danger">Lưu ý</span> khi ấn vào <a
                        href="/admin/bookings/cancel-unpaid-tickets-over120">check</a> các vé chưa thanh toán đặt trước
                    quá <strong>120 phút</strong> sẽ bị hủy. Ngược lại sẽ gửi email nhắc nhở thanh toán</h6>
                <div class="d-flex">
                    <a href="/admin/send-email-reminder/all" class="btn btn-outline-primary">Check</a>
                </div>
            </div>
            <div class="card-body px-0 pb-0">
                <div class="table-responsive">
                    <table class='table mb-0' id="table1">
                        <thead>
                        <tr>
                            <th>
                                <a th:href="@{'/admin/bill-page/page/'+${currentPage1}+'?sortField=id&sortDir='+${reserseSortDir}}">Mã
                                    vé</a>
                            </th>
                            <th>
                                <a th:href="@{'/admin/bill-page/page/'+${currentPage1}+'?sortField=trip.route.name&sortDir='+${reserseSortDir}}">Tuyến
                                    đi</a>
                            </th>
                            <th>
                                <a th:href="@{'/admin/bill-page/page/'+${currentPage1}+'?sortField=bookingDate&sortDir='+${reserseSortDir}}">Ngày
                                    đi</a>
                            </th>
                            <th>
                                <a th:href="@{'/admin/bill-page/page/'+${currentPage1}+'?sortField=trip.startTime&sortDir='+${reserseSortDir}}">Giờ
                                    khởi hành</a>
                            </th>
                            <th>
                                <a th:href="@{'/admin/bill-page/page/'+${currentPage1}+'?sortField=trip.vehicle.name&sortDir='+${reserseSortDir}}">Loại
                                    xe</a>
                            </th>
                            <th>
                                <a th:href="@{'/admin/bill-page/page/'+${currentPage1}+'?sortField=trip.vehicle.licensePlates&sortDir='+${reserseSortDir}}">Biển
                                    số</a>
                            </th>
                            <th>Ghế đã chọn</th>
                            <th>Số lượng vé</th>
                            <th>Tổng tiền</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        <tr th:if="${notFound}">
                            <td colspan='11' class='text-center'>Không tìm thấy chuyến.</td>
                        </tr>
                        <tr th:unless="${notFound}" th:each="booking, i : ${bookings}">
                            <td th:text="${booking.bookingDetails.get(0).id.ticketCode}"></td>
                            <td th:text="${booking.trip.route.name}"></td>
                            <td th:text="${#temporals.format(booking.bookingDate, 'dd/MM/yyyy')}"></td>
                            <td th:text="${booking.trip.startTime}"></td>
                            <td th:text="${booking.trip.vehicle.name}"></td>
                            <td th:text="${booking.trip.vehicle.licensePlates}"></td>
                            <td>
                                <span class="highlighted-text" th:each="sr, iterStat : ${booking.seatReservations}">
                                <span th:text="${sr.seat.name}" th:value="${sr.seat.id}"></span>
                                <span th:if="${!iterStat.last}">, </span>
                                </span>
                            </td>
                            <td th:text="${booking.seatReservations.size()}"></td>
                            <td>[[${#numbers.formatDecimal(booking.bookingDetails.get(0).totalPrice, 0, 'COMMA', 0,
                                'POINT') +
                                'đ'}]]
                            </td>
                            <td>
                                <a th:href="@{'/admin/delete/' + ${booking.id}}">Hủy |</a>
                                <a th:href="@{'/admin/send-email-reminder/' + ${booking.id}}">Nhắc nhở</a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="${totalPages>1}" class="d-flex justify-content-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${currentPage1 == 1} ? disabled">
                                <a class="page-link"
                                   th:href="@{'/admin/bill-page/page/1?sortField='+${sortField}+'&sortDir='+${sortDir}}">First</a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage1 == 1} ? disabled">
                                <a class="page-link"
                                   th:href="@{'/admin/bill-page/page/'+${currentPage1 - 1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}">Previous</a>
                            </li>
                            <li class="page-item" th:each="page : ${#numbers.sequence(1, totalPages)}">
                                <a class="page-link" th:classappend="${page == currentPage1} ? activeCurrentPage1"
                                   th:href="@{'/admin/bill-page/page/'+${page}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}"
                                   th:text="${page}"></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage1 == totalPages} ? disabled">
                                <a class="page-link"
                                   th:href="@{'/admin/bill-page/page/'+${currentPage1 + 1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}">Next</a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage1 == totalPages} ? disabled">
                                <a class="page-link"
                                   th:href="@{'/admin/bill-page/page/'+${totalPages}+'?sortField='+${sortField}+'&sortDir='+${sortDir}}">Last</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            const currentDate = new Date();
            const bookingRows = document.querySelectorAll("#table1 tbody tr");
            bookingRows.forEach(function (row) {
                const bookingDateCell = row.querySelector("td:nth-child(3)");
                const bookingTimeCell = row.querySelector("td:nth-child(4)");
                const cancelButton = row.querySelector("td:last-child a:first-child");
                const paymentButton = row.querySelector("td:last-child a:last-child");

                const bookingDateStr = bookingDateCell.textContent;
                const bookingTimeStr = bookingTimeCell.textContent;
                const bookingDateParts = bookingDateStr.split("/");
                const bookingDate = new Date(
                    bookingDateParts[2], // Năm
                    bookingDateParts[1] - 1, // Tháng (giảm đi 1 vì tháng trong JavaScript bắt đầu từ 0)
                    bookingDateParts[0] // Ngày
                );
                const bookingDateTimeStr = `${bookingDate.toLocaleDateString("en-US")} ${bookingTimeStr}`;
                const bookingDateTime = new Date(bookingDateTimeStr);
                if (bookingDateTime < currentDate) {
                    cancelButton.style.display = "none";
                    paymentButton.style.display = "none";

                    const cancelledText = document.createElement("span");
                    cancelledText.textContent = "Đã bị hủy";
                    cancelledText.classList.add("text-danger");
                    row.querySelector("td:last-child").appendChild(cancelledText);
                }
            });
        });
    </script>
</div>
</body>
</html>
