<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="sidebar" class='active' th:fragment="sidebar"><!--sidebar-->
  <div class="sidebar-wrapper active">
    <div class="sidebar-header">
      <a th:href="@{/admin}" class='sidebar-link'>
      <img th:src="@{/img/logo.svg}" alt="" srcset=""> </a>
    </div>
    <div class="sidebar-menu">
      <ul class="menu">


        <li class='sidebar-title'>Main Menu</li>



        <li class="sidebar-item active ">
          <a th:href="@{/admin/users}" class='sidebar-link'>
            <i data-feather="home" width="20"></i>
            <span>Manage Users</span>
          </a>
        </li>

        <li class="sidebar-item active ">
          <a th:href="@{/admin/cities}" class='sidebar-link'>
            <i data-feather="home" width="20"></i>
            <span>Manage City</span>
          </a>
        </li>

        <li class="sidebar-item active ">
          <a th:href="@{/admin/vehicles}" class='sidebar-link'>
            <i data-feather="home" width="20"></i>
            <span>Manage Vehicles</span>
          </a>
        </li>

        <li class="sidebar-item active ">
          <a th:href="@{/admin/seats}" class='sidebar-link'>
            <i data-feather="home" width="20"></i>
            <span>Manage Seats</span>
          </a>
        </li>

        <li class="sidebar-item active ">
          <a th:href="@{/admin/routes}" class='sidebar-link'>
            <i data-feather="home" width="20"></i>
            <span>Manage Routes</span>
          </a>
        </li>

        <li class="sidebar-item active ">
          <a th:href="@{/admin/trips}" class='sidebar-link'>
            <i data-feather="home" width="20"></i>
            <span>Manage Trips</span>
          </a>
        </li>


        <li class="sidebar-item active ">
          <a th:href="@{/admin/bookings}" class='sidebar-link'>
            <i data-feather="home" width="20"></i>
            <span>Manage Booking</span>
          </a>
        </li>

        <li class="sidebar-item active ">
          <a th:href="@{/admin/booking-details}" class='sidebar-link'>
            <i data-feather="home" width="20"></i>
            <span>Manage Booking-Details</span>
          </a>
        </li>

        <li class="sidebar-item active ">
          <a th:href="@{/admin/seat-reservation}" class='sidebar-link'>
            <i data-feather="home" width="20"></i>
            <span>Manage Seat-Reservation</span>
          </a>
        </li>

        <li class='sidebar-title'>Forms &amp; Tables</li>
        <li class="sidebar-item  has-sub">
          <a href="#" class='sidebar-link'>
            <i data-feather="file-text" width="20"></i>
            <span>Form Elements</span>
          </a>

          <ul class="submenu ">

            <li>
              <a href="form-element-input.html">Input</a>
            </li>

            <li>
              <a href="form-element-input-group.html">Input Group</a>
            </li>

            <li>
              <a href="form-element-select.html">Select</a>
            </li>

            <li>
              <a href="form-element-radio.html">Radio</a>
            </li>

            <li>
              <a href="form-element-checkbox.html">Checkbox</a>
            </li>

            <li>
              <a href="form-element-textarea.html">Textarea</a>
            </li>

          </ul>

        </li>




        <li class="sidebar-item  ">
          <a href="form-layout.html" class='sidebar-link'>
            <i data-feather="layout" width="20"></i>
            <span>Form Layout</span>
          </a>

        </li>




        <li class="sidebar-item  ">
          <a href="form-editor.html" class='sidebar-link'>
            <i data-feather="layers" width="20"></i>
            <span>Form Editor</span>
          </a>

        </li>




        <li class="sidebar-item  ">
          <a href="table.html" class='sidebar-link'>
            <i data-feather="grid" width="20"></i>
            <span>Table</span>
          </a>

        </li>




        <li class="sidebar-item  ">
          <a href="table-datatable.html" class='sidebar-link'>
            <i data-feather="file-plus" width="20"></i>
            <span>Datatable</span>
          </a>

        </li>




        <li class='sidebar-title'>Extra UI</li>



        <li class="sidebar-item  has-sub">
          <a href="#" class='sidebar-link'>
            <i data-feather="user" width="20"></i>
            <span>Widgets</span>
          </a>

          <ul class="submenu ">

            <li>
              <a href="ui-chatbox.html">Chatbox</a>
            </li>

            <li>
              <a href="ui-pricing.html">Pricing</a>
            </li>

            <li>
              <a href="ui-todolist.html">To-do List</a>
            </li>

          </ul>

        </li>




        <li class="sidebar-item  has-sub">
          <a href="#" class='sidebar-link'>
            <i data-feather="trending-up" width="20"></i>
            <span>Charts</span>
          </a>

          <ul class="submenu ">

            <li>
              <a href="ui-chart-chartjs.html">ChartJS</a>
            </li>

            <li>
              <a href="ui-chart-apexchart.html">Apexchart</a>
            </li>

          </ul>

        </li>




        <li class='sidebar-title'>Pages</li>



        <li class="sidebar-item  has-sub">
          <a href="#" class='sidebar-link'>
            <i data-feather="user" width="20"></i>
            <span>Authentication</span>
          </a>

          <ul class="submenu ">

            <li>
              <a href="auth-login.html">Login</a>
            </li>

            <li>
              <a href="auth-register.html">Register</a>
            </li>

            <li>
              <a href="auth-forgot-password.html">Forgot Password</a>
            </li>

          </ul>

        </li>




        <li class="sidebar-item  has-sub">
          <a href="#" class='sidebar-link'>
            <i data-feather="alert-circle" width="20"></i>
            <span>Errors</span>
          </a>

          <ul class="submenu ">

            <li>
              <a href="error-403.html">403</a>
            </li>

            <li>
              <a href="error-404.html">404</a>
            </li>

            <li>
              <a href="error-500.html">500</a>
            </li>

          </ul>

        </li>




      </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
  </div>
</div>
</body>
</html>
